<div id="definition">
  <div class="media">
    <% @defines.each do |define| %>
      <a class="pull-left">
        <% if define.image? %>
          <%= image_tag define.image_url.to_s %>
        <% else %>
          <%= image_tag("default.png") %>
        <% end %>
      </a>
    <div class="media-body">
      <h4 class="media-heading"><%= image_tag("#{define.category}_little.png") %><%= link_to define.term, "define/#{define.id}" %></h4>
        <%= sanitize(define.definition) %>
    </div>
    <% end %>
  </div>
</div>