<div class="container">
  <div class="navbar text-center">
    <ul class="inline">
      <h2 class="text-error">Pick one</h2>
        <li><%= link_to image_tag("ruby.png"), defines_path(category: 'ruby') %></li>
        <li><%= link_to image_tag("rails.png"), defines_path(category: 'rails') %></li>
        <li><%= link_to image_tag("html5.png"), defines_path(category: 'html5') %></li>
        <li><%= link_to image_tag("css3.png"), defines_path(category: 'css3') %></li>
        <li><%= link_to image_tag("github.png"), defines_path(category: 'github') %></li>
        <li><%= link_to image_tag("heroku.png"), defines_path(category: 'heroku') %></li>
    </ul>
  </div>
</div>

<div class="span10">
<ul>
  <li>
  <div id="definition_index">
    <div class="media">
      <% @defines.each do |define| %>
      <a class="pull-left">
        <% if define.image? %>
          <%= image_tag define.image_url.to_s, id:"side" %>
        <% else %>
          <%= image_tag("default.png", id:"side") %>
        <% end %>
      </a>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to image_tag("#{define.category}_little.png"), defines_path(category: define.category) %><%= link_to define.term, "define/#{define.id}" %></h4>
          <dd><%= sanitize(define.definition) %></dd>
        <p>
          <% if can? :update, define %>
          <%= link_to 'Edit', edit_define_path(define), class: "btn" %> 
          <% end %>
          <% if can? :destroy, define %>
          <%= link_to 'Destroy', define, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
          <% end %>
        </p>
      </div>
      <p></p>
      <% end %>
    </div>
  </div>
  </li>
</ul>
  <% if can? :create, @defines %>
    <%= link_to 'New Definition', new_define_path, class: "btn btn-success" %>
  <% end %>
</div>


