<div class="span10">
  <div id="definition">
    <div class="media">
      <% @defines.each do |define| %>
      <a class="pull-left" href="#">
        <%= image_tag define.image_url.to_s %>
        <!-- not implemented yet
        <img class="media-object" data-src="holder.js/64x64">
      -->
      </a>
      <div class="media-body">
        <h4 class="media-heading"><%= define.term %></h4>
          <%= sanitize(define.definition) %>
        <p>
          <%= link_to 'Show', "define/#{define.id}", class: "btn btn-success" %> 

          <% if can? :update, define %>
          <%= link_to 'Edit', edit_define_path(define), class: "btn" %> 
          <% end %>
          <% if can? :destroy, define %>
          <%= link_to 'Destroy', define, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
          <% end %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
  <% if can? :create, @defines %>
    <%= link_to 'New Definition', new_define_path, class: "btn btn-success" %>
  <% end %>
</div>


