<div class="container">
  <div class="navbar text-center">
    <ul class="inline">
      <h2 class="text-error">Pick one</h2>
        <li><%= image_tag("ruby.png") %></li>
        <li><%= image_tag("rails.png") %></li>
        <li><%= image_tag("html5.png") %></li>
        <li><%= image_tag("css3.png") %></li>
        <li><%= image_tag("github.png") %></li>
        <li><%= image_tag("heroku.png") %></li>
    </ul>
  </div>
</div>

<div class="span10">
  <div id="definition">
    <div class="media">
      <% @defines.each do |define| %>
      <a class="pull-left">
        <% if define.image? %>
          <%= image_tag define.image_url.to_s %>
        <% else %>
          <%= image_tag("default.png") %>
        <% end %>
      </a>
      <div class="media-body">
        <h4 class="media-heading"><%= image_tag("#{define.category}_little.png") %><%= link_to define.term, "define/#{define.id}" %></h4>
          <%= sanitize(define.definition) %>
        <p>
          <% if can? :update, define %>
          <%= link_to 'Edit', edit_define_path(define), class: "btn" %> 
          <% end %>
          <% if can? :destroy, define %>
          <%= link_to 'Destroy', define, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
          <% end %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
  <% if can? :create, @defines %>
    <%= link_to 'New Definition', new_define_path, class: "btn btn-success" %>
  <% end %>
</div>


