<div class="span10">
	<div class="media">
	  <a class="pull-left">
        <% if @define.image? %>
          <%= image_tag @define.image_url.to_s %>
        <% else %>
          <%= image_tag("default.png") %>
        <% end %>
      </a>
	  <div class="media-body">
	    <h4 class="media-heading"><%= @define.term %></h4>
	      <%= sanitize(@define.definition) %>
	      <small class="text-warning">relevance: <%= @define.relevance %></small>
	    <p>
	      <%= link_to 'Back', definitions_path, class: "btn" %> 
	      
	      <% if can? :create, @define %>
	      	<%= link_to 'New Definition', new_define_path, class: "btn btn-success" %> 
	      <% end %>
	      <% if can? :update, @define %>
	      	<%= link_to 'Edit', edit_define_path(@define), class: "btn" %> 
	      <% end %>
	      <% if can? :destroy , @define %>
	      	<%= link_to 'Destroy', @define, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
	      <% end %>

	    </p>
	  </div>

	</div>
</div>

